<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>browser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0386A3B1CC34CF600C428A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0386A541CC34CF700C428A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0386A5F1CC34CF700C428A1</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
