<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>陈奕迅</string>
		<key>songname</key>
		<string>一丝不挂</string>
		<key>pic</key>
		<string>1.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>韩红</string>
		<key>songname</key>
		<string>青藏高原</string>
		<key>pic</key>
		<string>2.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>古巨基</string>
		<key>songname</key>
		<string>好想好想</string>
		<key>pic</key>
		<string>3.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>张靓颖</string>
		<key>songname</key>
		<string>生如夏花</string>
		<key>pic</key>
		<string>4.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>沙宝亮</string>
		<key>songname</key>
		<string>暗香</string>
		<key>pic</key>
		<string>5.jpg</string>
	</dict>
	<dict>
		<key>name</key>
		<string>林志炫</string>
		<key>songname</key>
		<string>单身情歌</string>
		<key>pic</key>
		<string>6.jpg</string>
	</dict>
</array>
</plist>
