<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>animation1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A0B91A421CDF2E0700715240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0B91A5B1CDF2E0700715240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A0B91A661CDF2E0700715240</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
